.tabs .tab a {
  color: #000;
}

.tabs .tab a:hover {
  background-color: #eee;
  color: #000;
}

.tabs .tab a.active {
  background-color: #b2dfdb;
  color: #000;
}

.tabs .indicator {
  background-color: #6200ea;
}

